body {
    
    background-color:#000854 ;
    padding: 0;
    margin: 0;


}

nav{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    gap: 150px;
   
    
    
    
}

#nav1{
    
    
    
    font-family:openSans;
    display: flex;
    
    
    align-items: flex-end;
    
    
}

#sec1{
    
    width: 100%;
    height: 878px;
    
    
    
    
    

}

#div11{
    
    width: 100%;
    height: 878px;
    background-size: 100% ;
    background-image: url(../image/nightwing6.jpg)  ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    

}

@font-face{
    
    font-family: arimo;
    src: url(../css/font/arimo/Arimo-Regular.ttf);
}

@font-face{
    
    font-family: Irish_Grover;
    src: url(../css/font/Irish_Grover/IrishGrover-Regular.ttf);
}

@font-face{

    font-family: bungee;
    src: url(../css/font/bungee/BungeeSpice-Regular.ttf);
}

@font-face{

    font-family: openSans;
    src: url(../css/font/OpenSans/OpenSans-Regular.ttf);
}
@font-face{

    font-family: anton;
    src: url(../css/font/anton/Anton-Regular.ttf);
}

@font-face{

    font-family: dancing;
    src: url(../css//font/dancing/DancingScript-VariableFont_wght.ttf);
}

@font-face{

    font-family: lobster;
    src: url(../css/font/lobster/Lobster-Regular.ttf);
}

@font-face{

    font-family: pacifico;
    src: url(../css/font/pacifico/Pacifico-Regular.ttf);
}

@font-face{

    font-family: shadow;
    src: url(../css/font/shadow/ShadowsIntoLight-Regular.ttf);
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #648FFF

    line-height: 100px;
}

h1{

    line-height: 50px;
    font-weight: bolder;
    font-size: 30px;
    color: #648FFF
    ;

}

#text1{
align-self: flex-start;
   

}

#sec2{
    
    width: 100%;
    height: 1700px;
    background-color: #000854;
    
    
}

#div1{

    width: 85%;
    height: 650px;
    background-color: #FFFFFF;
    background-image: url(../image/nightwing6\ -\ Copie.jpg)  ;
    background-size: 100% ;
    display: flex;
    flex-direction: column;
    
    
    
    
    
}

#img11{

    width: 200px;
    height: 100px;
    
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

#img12{

    width: 200px;
    height: 100px;
    
    align-self: center;
    display: flex;
    justify-content: center;
}

#img13{

    width: 170px;
    height: 80px;
    background-color: #D9A963;
    align-self: center;
    
    display: flex;
    justify-content: center;
}

#H11{

    font-family:dancing;
    font-size: 55px;
    color: #796157;
}

#H12{

    font-family:openSans;
    font-size: 28px;
    color: #2C1810;
    
}

#H13{

    font-family:openSans;
    font-size: 20px;
    font-weight: lighter;
    
}

#koko1{

    
    
    width: 85%;
    height: 1000px;
    background-color: red;
    margin-top: -135PX;
    text-align: center;


    
    
    
   
    
    

    
}

#coco1{
display: flex;
justify-content: center;
background-color: #000854;
align-items: center;
flex-direction: column ;
}

#im11{

    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/Rectangle\ 14.png) ;
    background-repeat: no-repeat;
    

    
}

#im12{

    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/Rectangle\ 14\ \(1\).png) ;
    background-repeat: no-repeat;
    
    display: flex;
}
#im13{

    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/Rectangle\ 14\ \(2\).png) ;
    background-repeat: no-repeat;
    
    display: flex;
    
}


#i1{
    
    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/THINK.png) ;
    background-repeat: no-repeat;
    
    display: flex;
    

}

#i2{
    
    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/COMPANY.png) ;
    background-repeat: no-repeat;
   
    display: flex;

}

#i3{
    
    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/DESIGN.png) ;
    background-repeat: no-repeat;
    
    display: flex;

}

#i4{
    
    width: 500px;
    height: 388px;
   
    border-radius: 10px;
    background-image: url(../image/GENESIS.png) ;
    background-repeat: no-repeat;
   
    display: flex;

}

#i5{
    
    width: 500px;
    height: 388px;
   
    border-radius: 10px;
    background-image: url(../image/PSALMS.png) ;
    background-repeat: no-repeat;
    
    display: flex;

}

#i6{
    
    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/MILK.png) ;
    background-repeat: no-repeat;
    
    display: flex;

}

#i7{
    
    width: 500px;
    height: 388px;
   
    border-radius: 10px;
    background-image: url(../image/STUPORE.png) ;
    background-repeat: no-repeat;
    
    display: flex;

}

#i8{
    
    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/CEREAL.png) ;
    background-repeat: no-repeat;
   
    display: flex;

}

#i9{
    
    width: 500px;
    height: 388px;
    
    border-radius: 10px;
    background-image: url(../image/ZERO.png) ;
    background-repeat: no-repeat;
    
    display: flex;

}

footer{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    
    
    
}

#foot1{
    width: 150px;
    height: 150px;
    display: flex;
    margin-left: -70px;
   
    
   
    
    background-repeat: no-repeat;
    background-size: 100% ;
    
}


.smic1{
    width: 65%;
    height: 388px;
    
    

}

.smic2{
    width: 35%;
    height: 388px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -30px;
    

}

#im11{

    display: flex;


}

#sp11{

    font-size: 30px;
    font-weight: bolder;
    color: #2C1810;
    


}

#sp12{

    font-size: 20px;
    font-family:openSans;
    color: #796157;
    


}

#logo1{

    width: 10px;
    height: 10px;
}
 
#img32{
width: 30px;
height: 30px;
align-self: center;

}

#imFT{

    width: 90%;
    height: 150px;
    
    display: flex;
    align-items: center;
    gap: 60px;
    
    
    
}

#IMFT1{

    width: 100px;
    height: 100px;
    
    
}

#textfoot{

    font-family:openSans;
    color: #2C1810;
}

#link{
    text-decoration: underline;
    font-family:openSans;
    color: #796157;
}

#link:hover{
    cursor: pointer;
}

#foot3{

    font-family:openSans;
    color: #2C1810;
}

#space{

    display: flex;
    gap: 300px;
    font-family:openSans;
    font-weight: lighter;
    
}

#H13:hover{
    cursor: pointer; 
}

.smic1:hover{
    cursor: pointer;
}




@media (max-width: 2240px){
    
    #koko1{

        height: 1800px;
    }
    #sec2{
    
        
        height: 1850px;
        
        
    }
} 

@media (max-width: 1406px){

    #koko1{

        height: 1800px;
    }
    #sec2{
    
        
        height: 1850px;
        
        
    }
}

@media (max-width: 868px){
    
    #nav1{
        
    display: none;
    visibility: hidden;
        
    }
    #space{
    
    display: none;
    visibility: hidden;
        
    }
}


@media (max-width: 1080px){

    
}

img{

    margin-top: 15px;
}

p{

    font-size: 90px;
    font-family: Irish_Grover;
    
}

h1{
    font-family: Irish_Grover; 
    font-size: 40px;
    line-height: 100%;
}

#end{
    

color: #FFF500;
font-size: 60px;
align-self: center;
    
}

#end1{

    width: 425px;
    height: 100px;
}