@media only screen and (max-width: 600px) {
    body {
      background-color: #413E6B;
      padding: 0;
    margin: 0;


}
#rectangle{

  width: 100%;
  height: 100px;
  background-color: #413E6B;
  display: flex;
  
  

}
.carre{

    width: 300px;
    height: 100px;
    background-color: #413E6B;
    flex-grow: 1;
    flex-shrink: 1;
    border-style: solid;
    transition: 1s;
    text-align: center;
    line-height: 100px;
    font-size: 150%;
    font-family: anton;
    
    
    

}
.carre:hover{



    background-color: #413E6B;
    color: #FF9F0D;
    width: 400px;
    
    
    
}
@font-face{
    
    font-family: anton;
    src: url(../css/font/anton/Anton-Regular.ttf);
}

a{
    color: white;
    text-decoration: none;
    border-color: black;
    border-width: thin;
}

section{
    
    width: 100%;
    height: 100px;
    background-color: #413E6B;
    display: flex;
    
    border-top: solid black;
    border-width: thin;
    line-height: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    
    

}
#img1{
    
    width: 200px;
    height: 100px;
    background-color: #413E6B;
    border-top: solid black;
    border-width: thin;
    
    
    
    
    
    

}
#img2{
    
    width: 400px;
    height: 100px;
    background-color: #413E6B;
    border-top: solid black;
    border-width: thin;
    
    background: url(../image/Screenshot\ 2022-11-29\ at\ 09-03-02\ Figma.png) no-repeat center ;
  
    
    
    

}

h1{

    text-align: center;
    color: white;
    font-family: anton;
}
#kre{
    width: 200px;
    height: 100px;
    background-color: #413E6B;
    flex-grow: 1;
    flex-shrink: 1;
    border-style: solid;
    transition: 1s;
    line-height: 100px;
    
    
  
    background: url(../image/Screenshot\ 2022-11-29\ at\ 09-36-09\ Figma.png) no-repeat center;
    


}
#kre:hover{



    background-color: #413E6B;
    color: #FF9F0D;
    width: 400px;
    
    
    
}
.c1{

    color: #FF9F0D;
}

h2{

    color: white;
    font-weight: lighter;
    margin-left: 10px;
}

h6{

    color: white;
    font-weight: lighter;
    margin-left: 10px;
}

#coco{

    width: 100%;
    height: 100px;
    background-color: #413E6B;
    border-top: solid black;
    border-width: thin;
}

#coco2{

    width: 100%;
    height: 130px;
    background-color: #413E6B;
    
    
}

#civil{

    width: 150px;
    height: 100px;
    background: url(../image/Screenshot\ 2022-11-29\ at\ 13-55-27\ Figma.png) center no-repeat;
    margin-left: 10px;
}

#coco3{

    width: 100%;
    height: 650px;
    background-color: #413E6B;
    
    
}

input, textarea {
    background-color: #413E6B;
    
    
  }


  input[type=text] {
    border: none;
      border-bottom: 2px solid black;
      color: white;
      margin-left: 10px;
      margin-top: 10px;
    }

    label{

        color: white;
        margin-left: 10px;
    }

    #pr{

     margin-left: 350px;
    }

    #te{

        margin-left: 210px;
       }


       #te1{

        width: 350px;
       }

       #te2{

        width: 400px;
       }

       #pr1{

        margin-left: 300px;
       }

       #te3{

        margin-left: 210px;
       }

       #coco4{

        width: 100%;
        height: 50px;
        background-color:#413E6B;
        
        
        
    }

    #recap{

        width: 300px;
        height: 50px;
        background-color: red;
        margin-top: 50px;
        background: url(../image/Screenshot\ 2022-11-29\ at\ 15-09-48\ Figma.png) center no-repeat;
        margin-left: 20px;


    }

    #coco5{

        width: 100%;
        height: 330px;
        background-color:#413E6B;
        display: flex;
        justify-content: center;
        line-height: 230px;
        
        
        
    }

    #recap1{

        width: 350px;
        height: 250px;
        background-color: #FF9F0D;
        margin-top: 50px;
        border-radius: 10%;
        

        }

        
        
        


   

    }

    @media only screen and (max-width: 768px) {

        body {
            background-color: #413E6B;
            padding: 0;
          margin: 0;
      
      
      }

      #rectangle{

        width: 100%;
        height: 100px;
        background-color: #413E6B;
        display: flex;
        
        
      
      }
      .carre{

        width: 300px;
        height: 100px;
        background-color: #413E6B;
        flex-grow: 1;
        flex-shrink: 1;
        border-style: solid;
        transition: 1s;
        text-align: center;
        line-height: 100px;
        font-size: 150%;
        font-family: anton;
        
        
        
    
    }
    .carre:hover{
    
    
    
        background-color: #413E6B;
        color: #FF9F0D;
        width: 400px;
        
        
        
    }
    @font-face{
        
        font-family: anton;
        src: url(../css/font/anton/Anton-Regular.ttf);
    }
    
    a{
        color: white;
        text-decoration: none;
        border-color: black;
        border-width: thin;
    }
    
    section{
        
        width: 100%;
        height: 100px;
        background-color: #413E6B;
        display: flex;
        
        border-top: solid black;
        border-width: thin;
        line-height: 50px;
        
        
        
    
    }
    #img1{
        
        width: 200px;
        height: 100px;
        background-color: #413E6B;
        border-top: solid black;
        border-width: thin;
        
        
        
        
        
        
    
    }
    #img2{
        
        width: 400px;
        height: 100px;
        background-color: #413E6B;
        border-top: solid black;
        border-width: thin;
        
        background: url(../image/Screenshot\ 2022-11-29\ at\ 09-03-02\ Figma.png) no-repeat center ;
      
        
        
        
    
    }
    
    h1{
    
        text-align: center;
        color: white;
        font-family: anton;
    }
    #kre{
        width: 200px;
        height: 100px;
        background-color: #413E6B;
        flex-grow: 1;
        flex-shrink: 1;
        border-style: solid;
        transition: 1s;
        line-height: 100px;
        
        
      
        background: url(../image/Screenshot\ 2022-11-29\ at\ 09-36-09\ Figma.png) no-repeat center;
        
    
    
    }
    #kre:hover{
    
    
    
        background-color: #413E6B;
        color: #FF9F0D;
        width: 400px;
        
        
        
    }
    .c1{
    
        color: #FF9F0D;
    }
    
    h2{
    
        color: white;
        font-weight: lighter;
        margin-left: 10px;
    }
    
    h6{
    
        color: white;
        font-weight: lighter;
        margin-left: 10px;
    }
    
    #coco{
    
        width: 100%;
        height: 100px;
        background-color: #413E6B;
        border-top: solid black;
        border-width: thin;
    }
    
    #coco2{
    
        width: 100%;
        height: 130px;
        background-color: #413E6B;
        
        
    }
    
    #civil{
    
        width: 150px;
        height: 100px;
        background: url(../image/Screenshot\ 2022-11-29\ at\ 13-55-27\ Figma.png) center no-repeat;
        margin-left: 10px;
    }
    
    #coco3{
    
        width: 100%;
        height: 650px;
        background-color: #413E6B;
        
        
    }
    
    input, textarea {
        background-color: #413E6B;
        
        
      }
    
    
      input[type=text] {
        border: none;
          border-bottom: 2px solid black;
          color: white;
          margin-left: 10px;
          margin-top: 10px;
        }
    
        label{
    
            color: white;
            margin-left: 10px;
        }
    
        #pr{
    
         margin-left: 350px;
        }
    
        #te{
    
            margin-left: 210px;
           }
    
    
           #te1{
    
            width: 350px;
           }
    
           #te2{
    
            width: 400px;
           }
    
           #pr1{
    
            margin-left: 300px;
           }
    
           #te3{
    
            margin-left: 210px;
           }
    
           #coco4{
    
            width: 100%;
            height: 50px;
            background-color:#413E6B;
            
            
            
        }
    
        #recap{
    
            width: 300px;
            height: 50px;
            background-color: red;
            margin-top: 50px;
            background: url(../image/Screenshot\ 2022-11-29\ at\ 15-09-48\ Figma.png) center no-repeat;
            margin-left: 20px;
    
    
        }
    
        #coco5{
    
            width: 100%;
            height: 330px;
            background-color:#413E6B;
            display: flex;
            justify-content: center;
            line-height: 230px;
            
            
            
        }
    
        #recap1{
    
            width: 350px;
            height: 250px;
            background-color: #FF9F0D;
            margin-top: 50px;
            border-radius: 10%;
            
    
            }
 




}

@media only screen and (min-width: 992px){

    body {
        background-color: #413E6B;
        padding: 0;
      margin: 0;
  
  
  }

  #rectangle{

    width: 100%;
    height: 100px;
    background-color: #413E6B;
    display: flex;
    
    
  
  }
  .carre{

    width: 300px;
    height: 100px;
    background-color: #413E6B;
    flex-grow: 1;
    flex-shrink: 1;
    border-style: solid;
    transition: 1s;
    text-align: center;
    line-height: 100px;
    font-size: 150%;
    font-family: anton;
    
    
    

}
.carre:hover{



    background-color: #413E6B;
    color: #FF9F0D;
    width: 400px;
    
    
    
}
@font-face{
    
    font-family: anton;
    src: url(../css/font/anton/Anton-Regular.ttf);
}

a{
    color: white;
    text-decoration: none;
    border-color: black;
    border-width: thin;
}

section{
    
    width: 100%;
    height: 100px;
    background-color: #413E6B;
    display: flex;
    
    border-top: solid black;
    border-width: thin;
    line-height: 50px;
    justify-content: center;
    
    
    

}
#img1{
    
    width: 200px;
    height: 100px;
    background-color: #413E6B;
    border: solid;
    border-width: thin;
    border-bottom: none;
    border-left: none;
    border-right: none;
    
    
    
    
    

}
#img2{
    
    width: 400px;
    height: 100px;
    background-color: #413E6B;
    border-top: solid black;
    border-width: thin;
    
    background: url(../image/Screenshot\ 2022-11-29\ at\ 09-03-02\ Figma.png) no-repeat center ;
  
    
    
    

}

h1{

    text-align: center;
    color: white;
    font-family: anton;
}
#kre{
    width: 200px;
    height: 100px;
    background-color: #413E6B;
    flex-grow: 1;
    flex-shrink: 1;
    border-style: solid;
    transition: 1s;
    line-height: 100px;
    
    
  
    background: url(../image/Screenshot\ 2022-11-29\ at\ 09-36-09\ Figma.png) no-repeat center;
    


}
#kre:hover{



    background-color: #413E6B;
    color: #FF9F0D;
    width: 400px;
    
    
    
}
.c1{

    color: #FF9F0D;
}

h2{

    color: white;
    font-weight: lighter;
    
    text-align: center;
}

h6{

    color: white;
    font-weight: lighter;
    margin-left: 48.6%;
    
}

#coco{

    width: 100%;
    height: 100px;
    background-color: #413E6B;
    border-top: solid black;
    border-width: thin;
}

#coco2{

    width: 100%;
    height: 130px;
    background-color: #413E6B;
    
    
}

#civil{

    width: 150px;
    height: 100px;
    background: url(../image/Screenshot\ 2022-11-29\ at\ 13-55-27\ Figma.png) center no-repeat;
    margin-left: 46.5%;
}

#coco3{

    width: 100%;
    height: 650px;
    background-color: #413E6B;
    
    
}

input, textarea {
    background-color: #413E6B;
    
    
  }


  input[type=text] {
    border: none;
      border-bottom: 2px solid black;
      color: white;
      margin-left: 40%;
      margin-top: 10px;
    }

    label{

        color: white;
        margin-left: 40%;
    }

    #pr{

     margin-left: 350px;
    }

    #te{

        margin-left: 210px;
       }


       #te1{

        width: 350px;
       }

       #te2{

        width: 400px;
       }

       #pr1{

        margin-left: 300px;
       }

       #te3{

        margin-left: 210px;
       }

       #coco4{

        width: 100%;
        height: 50px;
        background-color:#413E6B;
        display: flex;
        justify-content: center;
        
        
    }

    #recap{

        width: 300px;
        height: 50px;
        background-color: red;
        margin-top: 60px;
        background: url(../image/Screenshot\ 2022-11-29\ at\ 15-09-48\ Figma.png) center no-repeat;
        margin-left: 20px;


    }

    #coco5{

        width: 100%;
        height: 400px;
        background-color:#413E6B;
        display: flex;
        justify-content: center;
        line-height: 230px;
        
        
        
    }

    #recap1{

        width: 400px;
        height: 300px;
        background-color: #FF9F0D;
        margin-top: 70px;
        border-radius: 10%;
        margin-top: 70px;
        

        }
    
}


@media only screen and (min-width: 768px){

    body {
        background-color: #413E6B;
        padding: 0;
      margin: 0;
  
  
  }

  #rectangle{

    width: 100%;
    height: 100px;
    background-color: #413E6B;
    display: flex;
    
    
  
  }
  .carre{

    width: 300px;
    height: 100px;
    background-color: #413E6B;
    flex-grow: 1;
    flex-shrink: 1;
    border-style: solid;
    transition: 1s;
    text-align: center;
    line-height: 100px;
    font-size: 150%;
    font-family: anton;
    
    
    

}
.carre:hover{



    background-color: #413E6B;
    color: #FF9F0D;
    width: 400px;
    
    
    
}
@font-face{
    
    font-family: anton;
    src: url(../css/font/anton/Anton-Regular.ttf);
}

a{
    color: white;
    text-decoration: none;
    border-color: black;
    border-width: thin;
}

section{
    
    width: 100%;
    height: 100px;
    background-color: #413E6B;
    display: flex;
    
    border-top: solid black;
    border-width: thin;
    line-height: 50px;
    justify-content: center;
    
    
    

}
#img1{
    
    width: 200px;
    height: 100px;
    background-color: #413E6B;
    border: solid;
    border-width: thin;
    border-bottom: none;
    border-left: none;
    border-right: none;
    
    
    
    
    

}
#img2{
    
    width: 400px;
    height: 100px;
    background-color: #413E6B;
    border-top: solid black;
    border-width: thin;
    
    background: url(../image/Screenshot\ 2022-11-29\ at\ 09-03-02\ Figma.png) no-repeat center ;
  
    
    
    

}

h1{

    text-align: center;
    color: white;
    font-family: anton;
}
#kre{
    width: 200px;
    height: 100px;
    background-color: #413E6B;
    flex-grow: 1;
    flex-shrink: 1;
    border-style: solid;
    transition: 1s;
    line-height: 100px;
    
    
  
    background: url(../image/Screenshot\ 2022-11-29\ at\ 09-36-09\ Figma.png) no-repeat center;
    


}
#kre:hover{



    background-color: #413E6B;
    color: #FF9F0D;
    width: 400px;
    
    
    
}
.c1{

    color: #FF9F0D;
}

h2{

    color: white;
    font-weight: lighter;
    
    text-align: center;
}

h6{

    color: white;
    font-weight: lighter;
    margin-left: 48.6%;
    
}

#coco{

    width: 100%;
    height: 100px;
    background-color: #413E6B;
    border-top: solid black;
    border-width: thin;
}

#coco2{

    width: 100%;
    height: 130px;
    background-color: #413E6B;
    
    
}

#civil{

    width: 150px;
    height: 100px;
    background: url(../image/Screenshot\ 2022-11-29\ at\ 13-55-27\ Figma.png) center no-repeat;
    margin-left: 46.5%;
}

#coco3{

    width: 100%;
    height: 650px;
    background-color: #413E6B;
    
    
}

input, textarea {
    background-color: #413E6B;
    
    
  }


  input[type=text] {
    border: none;
      border-bottom: 2px solid black;
      color: white;
      margin-left: 40%;
      margin-top: 10px;
    }

    label{

        color: white;
        margin-left: 40%;
    }

    #pr{

     margin-left: 350px;
    }

    #te{

        margin-left: 210px;
       }


       #te1{

        width: 350px;
       }

       #te2{

        width: 400px;
       }

       #pr1{

        margin-left: 300px;
       }

       #te3{

        margin-left: 210px;
       }

       #coco4{

        width: 100%;
        height: 50px;
        background-color:#413E6B;
        display: flex;
        justify-content: center;
        
        
    }

    #recap{

        width: 300px;
        height: 50px;
        background-color: red;
        margin-top: 60px;
        background: url(../image/Screenshot\ 2022-11-29\ at\ 15-09-48\ Figma.png) center no-repeat;
        margin-left: 5px;


    }

    #coco5{

        width: 100%;
        height: 400px;
        background-color:#413E6B;
        display: flex;
        justify-content: center;
        line-height: 230px;
        
        
        
    }

    #recap1{

        width: 400px;
        height: 300px;
        background-color: #FF9F0D;
        margin-top: 70px;
        border-radius: 10%;
        margin-top: 70px;
        

        }


}








