* {
  margin: 0;
  padding: 5px;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  background: rgba(29, 29, 29, 0.886);
  color: rgb(254, 250, 250);
  font-family: Roboto;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
header {
  display: flex;
  margin: 20px auto;
}

.header-right {

    width: 50%;
    height: 500px;
    
    
       
}

.header-left {

    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.img1{
    width: 100%;
    height: 500px;
}

footer{

    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
}

.img2 {
    width: 100%;
    height: 40px;
}

.img3 {
    width: 100%;
    height: 40px;
}

.img4 {
    width: 100%;
    height: 40px;
}


.img-container{

    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 80%;
    gap: 30px;
    
   
    
}

.btn-container{

    display: flex;
    flex-direction: column;
}


span{

    color: #2962ff;
}

button{

    background-color: #2962ff;
    color: white;
    border-radius: 10px;
    border-style: none;
}

.btn-container{

    row-gap: 10px;
}

.footer-right{

    width: 70%;

    
}

@font-face {

    font-family: Roboto;
    src: url(../css/font/Roboto/Roboto-Regular.ttf);
}

