body{

    padding: 0;
    margin: 0;
    background-color: black;
}
header{

width: 100%;
height: 100px;
background-color: #413E6B;
display: flex;
justify-content: center;

}

#logo{


width: 200px;
height: 50px;
background-color: #413E6B;
display: flex;
justify-content: center;


}

H1{

    color: white;
    line-height: 100%;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;

}

.c1{

    color: #FF9F0D;
}

nav{
    
    width: 100%;
    height: 100px;
    background-color: #413E6B;
    display: flex;
    justify-content: flex-start;
    
    

}

.carre{

    width: 200px;
    height: 100px;
    background-color: #413E6B;
    text-align: center;
    line-height: 100px;
    color: white;
    font-family: sans-serif;
    
    
    
    

    
}

section{
    
    width: 100%;
    height: 900px;
    background-color: #413E6B;
    display: flex;
    justify-content: center;
    border-top: solid #D8D8D8;
    border-width: thin;
    
    
    

}

#img1{
    
    width: 1500px;
    height: 900px;
    background-color: #413E6B;
    background: url(../image/screen1.png) no-repeat center center ;
    
    

}

.sm:hover{

    color: #FF9F0D;
    width: 100px;
}

.sm{

    height: 50px;
    width: 90px;
    text-align: center ;
    line-height: 50px;
    transition: 0.5s;
}

#coco{

    width: 100%;
    height: 700px;
    
    background-color: #413E6B;
    border-top: solid #413E6B ;
    border-width: thin;
    display: flex;
    justify-content: center;
    line-height: 200px;
    
   


}



#koko1{
    background-color: #FF9F0D;
    height: 500px;
    width: 500px;
    margin-top: 100px;
    background: url(../image/Screenshot\ 2022-11-16\ at\ 11-33-13\ PC\ Gamer\ -\ Achat\ Ordinateur\ Gaming\ Black\ Friday\ fnac.png) no-repeat center center ;
    

}

#koko2{

    background-color: #FF9F0D;
    height: 500px;
    width: 500px;
    margin-top: 100px;
    background: url(../image/Screenshot\ 2022-11-16\ at\ 11-33-20\ PC\ Gamer\ -\ Achat\ Ordinateur\ Gaming\ Black\ Friday\ fnac.png) no-repeat center center ;
    
   

}

#koko3{
    background-color: #FF9F0D;
    height: 500px;
    width: 500px;
    margin-top: 100px;
    background: url(../image/Screenshot\ 2022-11-16\ at\ 11-33-27\ PC\ Gamer\ -\ Achat\ Ordinateur\ Gaming\ Black\ Friday\ fnac.png) no-repeat center center ;
    
    


}

h2{

    margin-top: -50PX;
    margin-left: 200PX;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    
}


#car{

    width: 100%;
    height: 194px;
    
    background-color: #00052D;

}

.ca{
    
    height: 200px;
    width: 100%;
    background: url(../image/Screenshot\ 2022-11-16\ at\ 11-38-29\ PC\ Gamer\ -\ Achat\ Ordinateur\ Gaming\ Black\ Friday\ fnac.png) no-repeat center center ;

}

#im10{
    width: 100%;
    height: 400px;
    
    background-color: #232323;
    display: flex;
    justify-content: center;


}


#im1{
    height: 400px;
    width: 700px;
    background-color: #FF9F0D;
    background: url(../image/Screenshot\ 2022-11-16\ at\ 11-46-55\ PC\ Gamer\ -\ Achat\ Ordinateur\ Gaming\ Black\ Friday\ fnac.png) no-repeat center center ;


}

#im2{
    height: 400px;
    width: 700px;
    background-color: #FF9F0D;
    background: url(../image/Screenshot\ 2022-11-16\ at\ 11-50-27\ PC\ Gamer\ -\ Achat\ Ordinateur\ Gaming\ Black\ Friday\ fnac.png) no-repeat center center ;
    
}

#im3{
    height: 400px;
    width: 700px;
    background-color: #FF9F0D;
    background: url(../image/Screenshot\ 2022-11-16\ at\ 11-48-46\ PC\ Gamer\ -\ Achat\ Ordinateur\ Gaming\ Black\ Friday\ fnac.png) no-repeat center center ;
    
}
footer{

    background: url(../image/Screenshot\ 2022-11-16\ at\ 11-54-29\ PC\ Gamer\ -\ Achat\ Ordinateur\ Gaming\ Black\ Friday\ fnac.png) no-repeat center center ;
    height: 600px;
    width: 100%;
    background-color: #232323;

}

